.container {
  margin-top: 40px;
}

.epi-image {
  width: 100%;
  height: 200px;
}

.epi-container {
  width: 350px;
  height: 150px;
  background-color: grey; /* CHANGE COLOUR LATER */
}

.epi-title {
  font-size: 15px;
}

.epi-desc {
  font-size: 13px;
}
