.nav-container {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px #888888;
  }
  
  .left-container {
    display: flex;
    align-items: center;
  }
  
  .logo-btn {
    width: 100px;
    height: 50px;
  }
  
  .logo-img {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    padding-top: 2px;
    padding-left: 3px;
    padding-bottom: 4px;
  }
  
  .left-container h2 {
    font-size: 20px;
    font-weight: 700;
  }
  
  .right-container {
    margin: 0;
  }
  
  .nav-icon {
    font-size: 20px;
  }
  